body {
  padding: 0; 
  margin: 0;
  background: #ffffff;
  color: #000;
  font: 400 18px/26px "Montserrat", sans-serif;

  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5 {
}

h1 {
  font-size: 130px;
  line-height: 135px;
}

h2 {
  padding: 0; 
  margin: 0;
  vertical-align: top;
  font-size: 100px;
  line-height: 100px;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 45px;
    font-family: "Montserrat", sans-serif;
  font-weight:5;
}
h3 span {
  font-size: 40px;
}
@media (max-width: 767px) {
  h3 span {
    line-height: 45px;
  }
}
@media (max-width: 479px) {
  h3 {
    line-height: 48px;
  }
}




strong {
  font-weight: 700;
}

.fa {
  line-height: inherit;
}

[class*='fa-']:before {
  font-weight: 400;
  font-family: "Montserrat";
}

.page {
  overflow: hidden;
  min-height: 500px;
}
.lt-ie9 .page {
  min-width: 1200px;
}

.center {
  text-align: center;
}

@media (max-width: 767px) {
  .img_media {
    width: 100%;
  }
}



